body{
	font-family: Helvetica, Arial, Sans-Serif;
	font-size: 16px;
}
#main {
	width: 960px;
	margin: 0 auto;
	border: 1px solid #ddd;
	padding: 1em;
}
div.due {
    font-size: 12px;
    color: #777777;
}
#todo_text {
    margin-right: 10px;
}